CAPERCLUB_DB_HOST=127.0.0.1
CAPERCLUB_DB_PORT=3306
CAPERCLUB_DB_NAME=caperclub
CAPERCLUB_DB_USER=root
CAPERCLUB_DB_PASSWORD=your_mysql_password
# Optional managed-database overrides:
# CAPERCLUB_DATABASE_URL=mysql+pymysql://user:password@host:3306/database
# MYSQL_URL=mysql://user:password@host:3306/database
# DATABASE_URL=mysql://user:password@host:3306/database
# MYSQLHOST=host
# MYSQLPORT=3306
# MYSQLDATABASE=database
# MYSQLUSER=user
# MYSQLPASSWORD=password
CAPERCLUB_MEDIA_BACKEND=r2
CAPERCLUB_R2_ENDPOINT_URL=https://94b941e2dd9341b958247c2cb68276e7.r2.cloudflarestorage.com/caperclubdata
CAPERCLUB_R2_BUCKET=caperclubdata
CAPERCLUB_R2_PUBLIC_BASE_URL=https://pub-9ed9b2e4413a49cb847df3a991647b68.r2.dev
CAPERCLUB_R2_REGION=auto
CAPERCLUB_R2_ACCESS_KEY_ID=your_r2_access_key_id
CAPERCLUB_R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
CAPERCLUB_ELEVENLABS_API_KEY=your_elevenlabs_api_key
CAPERCLUB_ELEVENLABS_VOICE_ID=pNInz6obpgDQGcFmaJgB
CAPERCLUB_ELEVENLABS_MODEL_ID=eleven_multilingual_v2
CAPERCLUB_ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
