CAPERCLUB_DB_HOST=127.0.0.1
CAPERCLUB_DB_PORT=3306
CAPERCLUB_DB_NAME=caperclub
CAPERCLUB_DB_USER=root
CAPERCLUB_DB_PASSWORD=your_mysql_password
CAPERCLUB_ELEVENLABS_API_KEY=your_elevenlabs_api_key
CAPERCLUB_ELEVENLABS_VOICE_ID=your_indian_voice_id
